* {
    margin: 0;
    padding: 0;
}

#cor-de-fundo {
    position: relative;
    width: 1440px;
    height: 965px;
    background: #ffffff;
}

#rectangle {
    position: absolute;
    width: 1920px;
    height: 85px;
    left: 8px;
    top: 8px;

    background: #4B784F;
}





.text-size {
    position: absolute;
    width: 1240px;
    height: 29px;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;

}

.arvore {
    position: absolute;
    width: 57px;
    height: 72px;
    left: 14px;
    top: 8px;
}

#parque-tecnico {
    position: absolute;
    width: 337px;
    height: 32px;
    left: 93px;
    top: 45px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 10px;
    /* or 40% */


    color: #FFFFFF;
}

#botao1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;

    position: absolute;
    left: 32.36%;
    right: 60.14%;
    top: 5.30%;
    bottom: 90.26%;
    border-radius: 0px;
    background: #4B784F;
    border: none;
}

.home {

    position: absolute;
    left: 33.61%;
    right: 61.46%;
    top: 6.84%;
    bottom: 92.22%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;


    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.logo {
    position: absolute;
    width: 1132px;
    height: 700px;
    left: 285px;
    top: 191px;
    border-radius: 53px;


}